<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/shop">Best Professional Store</a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/shop">Home</a>
        </li>
      </ul>
    </div>

    <div class="d-flex" *ngIf="!loggedIn">
      <a routerLink="/shop" class="nav-item nav-link" routerLink="/login">Login</a>
      <a routerLink="/shop" class="nav-item nav-link" id="sign-in-button" routerLink="/signin">Sign In</a>
    </div>

    <div id="welcome-message" class="d-flex" *ngIf="loggedIn">
      <div>
        Welcome {{username}}
      </div>
      <a class="nav-item nav-link logout" (click)="onLogOut()">Log Out</a>
    </div>

    <app-cart-preview></app-cart-preview>

  </div>
</nav>

