#sign-in-button {
  margin-left: 0;
  padding-left: 0;
  margin-right: 20px;
}

#welcome-message {
  margin-right: 30px;
  align-items: center;
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100vw;
}
